<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps</title>
  <meta name="description"
    content="Restauranku merupakan website dimana anda dapat melihat rekomendasi restaurant terbaik sesuai keinginan anda.">
  <meta name="description"
    content="Restauranku merupakan website dimana anda dapat melihat rekomendasi restaurant terbaik sesuai keinginan anda.">

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet" />
</head>

<body>
  <!-- Skip to content -->
  <a href="#hero" class="skip-link">Skip To Content</a>

  <!-- Header Start -->
  <header class="container">
    <div class="logo">RestaurantKu</div>

    <!-- Hamburger Button -->
    <button tabindex="0" id="hamburgerButton">&#9776;</button>

    <nav aria-label="Site menu">
      <ul id="navigationDrawer">
        <li><a href="#/home"">Home</a></li>
        <li><a href="#/favorite"">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/risky-aerossky" target="_blank" rel="noopener noreferrer">AboutUs</a>
        </li>
      </ul>
    </nav>

    <div tabindex="-1" class="contact-info">+62 081234124123</div>
  </header>

  <!-- Header End -->

  <main id="mainContent"></main>

  <!-- Footer Start -->
  <footer id="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">&copy; RestaurantKu</div>
        <nav class="footer-navigation">
          <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <!-- <li><a href="#/now-playing">About Us</a></li> -->
          </ul>
        </nav>
      </div>
    </div>
  </footer>
  <!-- Footer End -->

</body>

</html>