

html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  display: block;
}

main{
  flex-grow: 1;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;

  box-sizing: border-box;
}
.skip-link {
  position: absolute;
  top: 50;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 100;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
 
.skip-link:focus {
   top: 0;
}
/* LIKE START */
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}
/* LIKE END */

/* HEADER START */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#hamburgerButton {
  display: none;
}


.logo {
  flex: 1;
  font-size: 24px;
  font-weight: bold;
}

/* navigation */
nav button {
  min-width: 44px;
  min-height: 44px;

  display: inline-block;
}
nav ul{
  display: flex;
  align-items: center;

  
  list-style: none;

  padding: 20px 0px;
  margin: 0;
}

nav li{
  flex-grow: 1;
  margin: 10px;
}

nav a {
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;

  text-align: center;
  display:block;
  min-width: 44px;
  min-height: 44px;
  padding: 10px 20px;

  color: black;
  text-decoration: none; 
  
  transition: color 0.3s;
}


nav li a:hover {
  color: #f1c40f;
}

.contact-info {
  font-size: 18px;
  font-weight: 700;

  flex: 1;
  text-align: right;
}

/* HEADER END */


/* HERO START */
.hero {
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
  color: white; 

  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.hero-text h1 {
  font-size: 3rem; 
  margin-bottom: 10px; 
}

.hero-text p {
  font-size: 1.5rem; 
}

.hero-text .explore-now-cta {
  display: inline-block; 
  padding: 10px 20px; 
  background-color: #f1c40f; 
  color: black; 
  text-decoration: none; 
  font-weight: bold; 
  border-radius: 5px;
  transition: background-color 0.3s; 

  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
}

.hero-text .explore-now-cta:hover {
  background-color: #f39c12; 
}

.hero-image img{
  width:100%;
  height:100vh;
  object-fit: cover;
}

/* HERO END */

/* EXPLORE START */
.explore {
  text-align: center;
}
.explore-text {


  margin-top: 50px;
  cursor: pointer;

  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline; 
}

.explore-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  justify-items: center; 
  align-items: center;
  margin-top: 50px;
}

.explore-item {
  position: relative;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  justify-items: center;

  cursor: pointer;
}

.explore-item:hover {
  transform: translateY(-5px);
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.explore-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.explore-item .card{
  padding: 8px;

}

.explore-item .card .details {
  padding: 25px;
}

.explore-item .card .city {
  font-size: 16px;
  font-style: italic;

}

.explore-item .card h3.name {
  font-size: 20px;
  margin-bottom: 5px;
}

.explore-item a {
  text-decoration: none;
  color: #333; /* Opsional: menetapkan warna tautan yang sesuai */
}

.explore-item .card .description {
  font-size: 16px;
  margin-bottom: 0;
  text-align: justify;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* EXPLORE END */


/* FOOTER START */
/* Footer */
/* Footer */
footer {
  background-color: #f1f1f1;
  padding: 20px 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation ul li {
  display: inline;
  margin-right: 20px;
}

.footer-navigation ul li:last-child {
  margin-right: 0;
}

.footer-navigation ul li a {
  text-decoration: none;
  color: #333;

  transition: color 0.3s;
}

.footer-navigation ul li a:hover {
  color: #f1c40f;
}

.footer-text p {
  font-size: 14px;
}


/* FOOTER END */


/* DETAIL PAGE START */
.kembali{
  margin-bottom: 5px;
}
.kembali a {
  text-decoration: none;
  color: black; /* Atur warna teks tautan sesuai kebutuhan */
  font-size: 18px;
  line-height: 44px;

  display: inline-block; 
  min-width: 44px;
  min-height: 44px;
}

.kembali a:hover {
  color: #f39c12;
  transition: color 0.3s;
}

.restaurant-info {
  display: flex;
}

.restaurant-image {
  flex: 1;
  margin-right: 20px;
}

.restaurant-image img {
  width: 100%;
  height: auto;

  border-radius: 5px;
}

.restaurant-details {
  flex: 2;
}

.restaurant-menu {
  display: flex;
  margin-top: 20px;
}

.restaurant-description{
  text-align: justify;
}

.food-menu,
.drink-menu {
  flex: 1;
  margin-right: 20px;
}

/* Customer review start */
.customer-reviews {
  margin-top: 20px;
}

.review-wrapper{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.review {
  margin-bottom: 10px;
}

.customer-reviews {
  padding: 20px;
}

.review-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.customer-info {
  flex: 1;
}

.customer-name {
  font-weight: bold;
  margin: 0;
}

.rating {
  margin: 0;
}

.review-text {
  margin: 0;
}
/* Customer review start */


/* DETAIL PAGE END */